* {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url(./fonts/League_Spartan/LeagueSpartan-Bold.ttf);
}

@font-face {
  font-family: 'LeagueSpartan-Regular';
  src: url(./fonts/League_Spartan/LeagueSpartan-Regular.ttf);
}

@font-face {
  font-family: 'LeagueSpartan-Medium';
  src: url(./fonts/League_Spartan/LeagueSpartan-Medium.ttf);
}

@font-face {
  font-family: 'AnonymousPro';
  src: url(./fonts/Anonymous_Pro/AnonymousPro-Bold.ttf);
}

@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato/Lato-Regular.ttf);
}